{% extends 'comicloaner.html.twig' %}


{% block body %}
    <div class="container-fluid m-0 p-0">
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
        <h1>WELCOME!!</h1>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('navbar') }}
{% endblock %}

