{% include '_common/_navbar.html.twig' %}
<header>
    <div class="jumbotron jumbotron-fluid jumbo-fluid jumbo-full m-0 p-0">
        <div class="container-fluid p-0">
            <div class="title-wrapper">
                <h1 class=" header-title glow">Comic-Loan!!!</h1>
                {% if title_h2 is defined %}<h2 class="mt-3 p-0 text-center ">{{ title_h2 }}</h2>{% endif %}
            </div>
        </div>
    </div>
</header>

