$navbar-text-color : white;
$secondary-color : #212121;
$primary-color : #212121;
$navbar-height : 50px;
$marvel-primary : rgb(128, 16, 5);
$marvel-primary-opacity : rgba(128, 16, 5, .8);
$font-primary-color : #fffaf0;
$font-secondary-color : #cbc7c0;
