.jumbo-fluidvh {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('../img/bg_space.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  /*  background-blend-mode: color;*/
  height: 100vh;
  margin-bottom: unset;
}
header .title-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: auto;
  top: 40%;

}


.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  background-color: rgba(33,33,33,0.3);

  .icon{
    font-family: 'Marvelheroes';
    font-size: 40px;
    padding: 3px;
  }
  .icon-sm{
    font-size: 20px !important;
  }

  .avatar-icon {
    width:40px;
    height: auto;
  }
  .navbar-brand {
    height: $navbar-height;
  }
}
.navbar-transparent {
  background-color : black;


  a:hover {
    background-color: unset;
  }
}
.bg-custom {
  background-color: $secondary-color;
  -webkit-box-shadow: -1px 9px 22px 0px rgba(255,255,255,0.58);
  -moz-box-shadow: -1px 9px 22px 0px rgba(255,255,255,0.58);
  box-shadow: -1px 9px 22px 0px rgba(255,255,255,0.58);


  a {
    color: $primary-color;

    &:hover {
      color: $primary-color;
      border: none;
    }
  }
}

.dropdown-toggle::after {
  content: none !important;
}

.logo-navbar {
  height: auto;
  width: 100px;

}

.nav-link {
  font-size: 1.1rem;
}
.logo-navbar{
  width:100px;
  height: auto;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 40px;
  margin-bottom: 10px;

}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: -20px;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -20px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}
