.jumbo-fluidvh {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('../img/bg_space.jpg');
  background-color: rgba(0, 0, 0, 0.5);
/*  background-blend-mode: color;*/
  height: 100vh;
  margin-bottom: unset;
}
