<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome To Comic-Loan!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %}{% endblock %}
<section id="content">
{% block body %}{% endblock %}
</section>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('navbar') }}


    <script>
        var images = document.querySelectorAll('div#parallax img');
        var imgcaptainamerica = document.querySelectorAll('img#captainamerica');
        new simpleParallax(imgcaptainamerica, {
            orientation: 'down',
            scale : 2,
            overflow: true,
            delay: .6,
            transition: 'cubic-bezier(0,0,0,1)'
        });

        var imgspiderman = document.querySelectorAll('img#spiderman');
        new simpleParallax(imgspiderman, {
            orientation: 'up',
            scale : 5,
            overflow: true,
            delay: .6,
            transition: 'cubic-bezier(0,0,0,1)'
        });
        var imgdeadpool = document.querySelectorAll('img#deadpool');
        new simpleParallax(imgdeadpool, {
            orientation: 'right',
            scale : 1.8,
            overflow: true,
            delay: .8,
            transition: 'cubic-bezier(0,0,0,1)'
        });
        var imgwolverine = document.querySelectorAll('img#wolverine');
        new simpleParallax(imgwolverine, {
            orientation: 'up left',
            scale : 2.5,
            overflow: true,
            delay: .8,
            transition: 'cubic-bezier(0,0,0,1)'
        });
        var imgthor = document.querySelectorAll('img#thor');
        new simpleParallax(imgthor, {
            orientation: 'down right',
            scale : 1.2,
            overflow: true,
            delay: .5,
            transition: 'cubic-bezier(0,0,0,1)'
        });
    </script>

{% endblock %}
</body>
</html>
