{% extends 'base.html.twig' %}

{% block title %}ComicLoan - Marvel's Comics!{% endblock %}

{% block body %}
<div class="container-fluid m-0 p-0">

    <div class="row justify-content-center">
        {% for comic in comics %}
            <div class="card comic-card col-md-5 mb-4 mx-2 p-0">
                <div class="card-header text-dark">
                    <h4 class="marvel-title">{{ comic.title }}</h4>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ comic.ThumbnailPicture.getPicturePortraitSD }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">{{ comic.description | raw }}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor%}
    </div>
</div>
{% endblock %}
